<div class="conteudo">
    <h3>Pedido</h3>
    <form id="fPedido" action="" class="conteudoForm">
        <div class="form-row">
            <div class="form-group col-sm-9">
                <div class="form-row">
                    <div class="form-group col-sm-4">
                    </div>
                    <div class="form-group col-sm-8">
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <div class="form-row">
                    <label>Cardapio</label>
                    <div class="form-group col-sm-12" id="Cardapio">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <h4>&nbsp;</h4>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var listCardapioUrl = '@Url.RouteUrl(new { controller = "Home", action = "GetCardapio" })';

        var paramsCliente = {};
        paramsCliente.Id = null;
        listarCardapio();

        function listarCardapio() {
            $("#Cardapio").children().remove();
            $.getJSON(listCardapioUrl, '')
            .done(function (myData) {
                for (var item in myData.Lista) {
                    var newRowContent = [
                        '<div class="form-row">',
                        '    <div class="form-group col-sm-10">' + myData.Lista[item].Nome + '</div>',
                        '    <div class="form-group col-sm-2">',
                        '        <input type="text" class="form-control" id="qtd' + myData.Lista[item].Id + '" maxlength="2">',
                        '    </div>',
                        '</div>'
                    ].join('');

                    $("#Cardapio").append(newRowContent);
                }
            }).always(function (myData) {
            });
        }
    });
</script>
